/* CSS 변수 추가 (최상단에 추가) */
:root {
  --main-color: #0044ff;
}

/* @config {
  theme: {
    extend: {
      animation: {
        'diagonal-stripes': 'diagonal-stripes 2s linear infinite',
      },
      keyframes: {
        'diagonal-stripes': {
          '0%': { backgroundPosition: '0% 0%' },
          '100%': { backgroundPosition: '100% 100%' },
        },
      },
      backgroundImage: {
        'diagonal-stripes': 'repeating-linear-gradient(45deg, #0044ff 0, #0044ff 10px, #0033cc 10px, #0033cc 20px)',
      },
    },
  },
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #f0f2f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.root-container {
  margin: 0 auto;
  max-width: 1440px;
}
.content-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: calc(60px + env(safe-area-inset-bottom, 0px));
}
.tradingview-widget-copyright {
  display: none!important;
}
#tv-attr-logo {
  display: none!important;
}

.timezone-dropdown .ant-select-item-option-content {
  font-size: 12px!important;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .root-container {
    padding: 0;
  }
}